<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect to index.html if the file or directory does not exist
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
